/*theme*/

:root {
    --background-color-dark: black;
    --background-text-color-dark: white;
}

html, body {
    background-color: #f5eded;
    margin: 0;
    padding: 0;
}
.box {
    background-color: #282927;
    border: 5px black solid;
    border-radius: 40px;
    color: #fffafa;
    height: 100%;
    margin: 50px;
    padding: 20px;
    text-align: center;
    width: 50%;
}    
.container {
    display: inline-flex;
}
.pricing-table {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-grow: inherit;
    width: 600px;
}
.pricing-table-row {
    border: #000000 1px solid;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.pricing-table-heading {
    background-color: #000000;
    color: #ffffff;
    flex: 1 1 50%;
    margin: 0;
    padding: 20px;
    width: 50%;
}
.pricing-table-content {
    flex: 0 1 50%;
    padding: 20px;
}
#navbar {
    background: var(--background-color-dark);
    display: flex;
    justify-content: space-between;
}
#navbar a {
    color: var(--background-text-color-dark);
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
#navbar a:hover
{
    background: rgb(46, 44, 44);
}
#navbar .active {
    background:white;
    color:black;
}
main {
    margin: 0px auto;
    max-width: 1020px;
    padding: 40px 20px; 
}

/*hero*/
#hero {
    background: url("../images/hero.jpg") no-repeat center center;
    height: 700px;
    width: 100%;
}
#hero > div {
    margin: 0px auto;
    max-width: 1020px;
    padding: 100px 20px;
}
#hero h1 {
    color: white;
    font-size: 72px;
    text-align: center;
}
#hero-cta {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    margin: 0px auto;
    width: 300px;
}
.button {
    background: rgba(50, 50, 50, 0.75);
    border-radius: 5px;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background: rgba(50, 50, 50, 1);
}
.button.primary {
    background: rgba(60, 230, 200, 0.75);
}
.button.primary:hover {
    background: rgba(60, 230, 200, 1);
}

/*typography*/

p {
    color: #000000;
}
#test1 {
    color:blue;
}
.warning {
    color: black;
    background:orange;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

/*gallery*/

#contact-wrapping {
    background: url(../images/contacts.jpg) no-repeat center center;
    background-size: cover;
    height: 800px;
    width: 100%;
}
.gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
}
.gallery img {
    border-radius: 20px;
    height: 200px;
    object-fit: fill;
    width: 100%;
}
#gallery1 {
    border-radius: 20px;
    height: 300px;
    object-fit: scale-down;
    width: 700px;
}
#gallery2 {
    border-radius:  30px 30px;
    height: 400px;
    object-fit: scale-down;
    width: 700px;
}
#gallery3 {
    height: 300px;
    object-fit: cover;
    width: 100%;
}
#gallery4 {
    display: inline-block;
}
#pricing-wrapper {
    background: url("../images/background.jpg") no-repeat center center; 
    background-size: cover;
    width: 100%;
}

/*links*/

#links  {
    color: darkblue;
    text-decoration: dotted;
}
footer {
    align-items: center;
    background-color: var(--background-color-dark);
    color: var(--background-text-color-dark);
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    text-align: center;
    width: calc(100% - 40px);
}
footer a {
    color: var(--background-text-color-dark);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline; 
}
footer p {
    color: var(--background-text-color-dark); 
}